<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demos.android.com.craneo.demoadklocaldatastorage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_exploreca"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".PreferencesJavaActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".InternalFileActivity" />
        <activity android:name=".ExternalFileActivity" />
        <activity android:name=".XmlPullParserActivity" />
        <activity android:name=".XmlJDOMParserActivity" />
        <activity android:name=".SqliteOpenHelperActivity" />
        <activity
            android:name=".FilterAndSortActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".RichDisplayActivity" />
        <activity
            android:name=".ParcelableInterfaceActivity"
            android:label="@string/title_activity_parcelable_interface"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TourDetailActivity" />
        <activity
            android:name=".TourDetailJoinActivity"
            android:label="@string/title_activity_tour_detail_join"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>